{
	"apiUrl": "http://localhost:3000",
	"authSecret": "Next Exchange Auth Secret",
	"auth": {
		"user": "",
		"pass": ""
	},
	"nodemailer": {
		"host": "smtp.mailgun.org",
		"port": 587,
		"secure": false,
		"auth": {
			"user": "",
			"pass": ""
		},
		"from": "info@next.exchange",
		"from_name": "NEXT.exchange",
		"to": ["dev@next.exchange"]
	},
	"mailgun": {
		"auth": {
			"api_key": "",
			"domain": ""
		},
		"to": "dev@next.exchange"
	},
	"allowedIPs" : ["localhost", "127.0.0.1"],
	"nodeServer": {
		"btc": {
			"rpc": "http://127.0.0.1:8332",
			"rpcAuth": {
				"user": "",
				"pass": "",
				"sendImmediately": false
			}
		}
	},
	"encryptOptions": {
		"key":"d10cf0974399f0b495e3addc615ed0cd",
		"length": 16
	},
	"gasFee": {
		"btc": 0.0000001
	},
	"txLimit": 10
}
